### C++ ###
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

### CMake ###
build/
build-*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/

# say no to gen proto!
genproto/
*.pb.cc
*.pb.h


# vscode/editor files
.vscode/